<div class="container mt-4">
  <div *ngIf="isLoading || noItems" class="center">
    <p *ngIf="isLoading">Loading...</p>
    <p *ngIf="noItems">Sorry, we could not find any items</p>
  </div>
  <div class="mt-4" *ngIf="!isLoading && !noItems">
      <h1>Images</h1>
    <div class="form-group mt-4">
      <input [(ngModel)]="searchText" class="form-control" placeholder="Search for a image by title" />
    </div>
    <div class="col-md-6 mx-auto">
        <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
    </div>

    <div *ngIf="!isLoading" class="row mt-4 ng-tns-c3-1 ng-star-inserted">
      <div class="col-3 mb-4 ng-tns-c3-1" *ngFor="let image of allImages | search: searchText | paginate: { itemsPerPage: 50, currentPage: currentPg }">
        <div>
            <div class="card custom-card">
              <div class="card-img-top">
                <img src="{{ image.thumbnailUrl }}" alt="image.title" loading="lazy" />
              </div>
              <div class="card-body">
                <p class="card-text">{{ image.title }}</p>
              </div>
            </div>
        </div> 
      </div>
    </div>
    <div class="col-md-6 mx-auto">
    <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
    </div>
  </div>
</div>
